.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
}
.logout-btn {
  color: #fff;
  border-color: #c3cad9;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}
